@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/extends';
.card {
  height: 100%;

  @extend %card;
  &:nth-child(odd) {
    @include oddEvenBg(true);
  }
  &:nth-child(even) {
    @include oddEvenBg(false);
  }
  .card__bottom {
    color: black;
    transition: color 1s ease-in-out;
  }
}
