.parallax__container {
  background-image: url('https://source.unsplash.com/1600x900/?book,library');
  height: 100vh;
  background-size: cover;
  background-position: center;

  h2 {
    position: relative;
    color: white;
    font-size: 3rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
}
