@import '../utils/variables';

header {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  background-color: $headerBg;
  padding: $padding $padding;
  color: $bg;
  .title {
    display: flex;
    height: 100%;
    font-weight: bolder;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    .bookIcon {
      margin-right: 0.5rem;
    }
  }
  section {
    display: flex;
    align-items: center;
    .dropdown__container {
      position: relative;
      cursor: pointer;
      margin-right: 1rem;
      .dropdown__elem {
        .dropdown__btn {
          padding: 1rem;
        }
        &:hover .dropdown-list {
          max-height: 280px;
        }
      }
      .dropdown-list {
        position: absolute;
        min-width: max-content;
        background-color: black;
        max-height: 0;
        overflow: hidden;
        border-radius: 2px;
        transition: all 1s ease-in-out;
        font-size: small;
        li {
          padding: 1rem;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: gray;
          }
        }
      }
    }
    .searchBar {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $bg;
      input {
        font-size: medium;
        border: none;
        padding: 0.5rem 0;
        background-color: inherit;
        outline-style: none;
        margin-right: 0.5rem;
        color: $bg;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .dropdown__btn {
    display: none;
  }
}
