@import './default';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Oswald:wght@300&display=swap');
/* components */
@import './components/bookListItem';
@import './components/searchBarHeader';
@import './components/grid';
@import './components/carouselBox';
@import './components/parallaxBox';
@import './components/attachmentBox';
@import './components/textBox';

/* pages */
@import './pages/nonePage';
@import './pages/contents';

/* utils */
@import './utils/variables';
@import './utils/mixins';
@import './utils/extends';

body {
  background-color: $bg;
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: 800;
}
