@import './default';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');
/* components */
@import './components/bookListItem';
@import './components/searchBarHeader';
@import './components/grid';

/* pages */
@import './pages/errorPage';
@import './pages/homePage';
@import './pages/contents';

/* utils */
@import './utils/variables';
@import './utils/mixins';
@import './utils/extends';

body {
  background-color: $bg;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
}
